 /*----------------------------------------  fonts */

@font-face {
  font-family: 'decima-nova';
  font-style:italic;
  font-weight:300;
  src: url('2C43BC_0_0.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('2C43BC_0_0.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'din';
  font-style:normal;
  font-weight:300;
  src: url('2C43BC_3_0.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('2C43BC_3_0.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'din';
  font-style:italic;
  font-weight:300;
  src: url('2C43BC_2_0.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('2C43BC_2_0.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'din';
  font-style:normal;
  font-weight:700;
  src: url('2C43BC_1_0.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('2C43BC_1_0.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'din';
  font-style:italic;
  font-weight:700;
  src: url('2C43BC_4_0.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('2C43BC_4_0.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}






/*----------------------------------------------- */

/*- home page -------------------------------------- */

body{
	background-color:rgb(157,129,82);
}

#dvLoading
{
   background: rgb(157,129,82) url(../imgs/loader.gif) no-repeat center center;
}



#home{
	color:white;
}

#line-1{
	font-family: 'decima-nova';
	font-style: italic;
	font-weight: 300;
	letter-spacing: 1.2px;
	font-size: 56px;
}

#line-2{
	font-family: 'din';
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	border-top: 1px solid white;
	font-size: 49px;
	letter-spacing: 1px;
	padding-top: 1px;
}

.enter-wrapper{
	width: 264px;
	margin: auto;
	margin-top: -20px;
}

.enter-wrapper a{
	color:white;
}

.enter{
	background-color: #262626;
	width: 100px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.5px;
	margin: 15px;
	font-size: 18px;
	padding-top: 13px;
	height: 32px;
	padding-left: 2px;
	-webkit-transition:.2s;  /* For Safari 3.1 to 6.0 */
    -moz-transition:.2s;
    transition:.2s;
}

#ita.enter:hover{
	background-color: #3b3b3b;
}


.countdown{
	border: 2px solid white;
	position: fixed;
	right: 25px;
	top: 35px;
	width: 200px;
	height: 143px;
	border-radius: 105px;
	padding-top: 57px;
	-webkit-animation: fadeInCount 1s 1; /* Chrome, Safari, Opera */
    animation: fadeInCount 1s 1;
}

@-webkit-keyframes fadeInCount {
    from {opacity: 0; top:80px;}
    to {opacity: 1; top:35px;}
}

@keyframes fadeInCount {
    from {opacity: 0; top:80px;}
    to {opacity: 1; top:35px;}
}

.countdown p{
	font-family: 'decima-nova';
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin-top: -14px;
	margin-bottom: -2px;
}

#clock{
	font-size: 64px;
	font-weight: 700;
}

#container{
	width: 100%;
	background-image: url("../imgs/sand_homepage1.jpg");
	background-size: cover;
	position: absolute;
	margin-top: 0px;
	
	/*background-size: 110%;
    background-position-x: -10px;*/
	
	background-position: 0px 0px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-animation: fadeBg 1s 1; /* Chrome, Safari, Opera */
    animation: fadeBg 1s 1;
}

@-webkit-keyframes fadeBg {
    from {opacity: 0; background-position: 0px 80px;}
    to {opacity: 1; background-position: 0px 0px;}
}

@keyframes fadeBg {
    from {opacity: 0; background-position: 0px 80px;}
    to {opacity: 1; background-position: 0px 0px;}
}

#welcome{
	opacity:0;
	-webkit-animation: fadeIn 1s .3s 1 both; /* Chrome, Safari, Opera */
    animation: fadeIn 1s .3s 1 both;
    position:relative;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {opacity: 0; top:80px;}
    to {opacity: 1; top:0px;}
}

@keyframes fadeIn {
    from {opacity: 0; top:80px;}
    to {opacity: 1; top:0px;}
}

#logo{
	-webkit-animation: fadeInLogo 1s 1 both; /* Chrome, Safari, Opera */
    animation: fadeInLogo 1s 1 both;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInLogo {
    from {opacity: 0; top:11px;}
    to {opacity: 1; top:31px;}
}

@keyframes fadeInLogo {
    from {opacity: 0; top:11px;}
    to {opacity: 1; top:31px;}
}

#logo-top{
	/*-webkit-animation: fadeInLogoElmn 1s 1 both; 
    animation: fadeInLogo 1s 1 both;*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInLogoElmn {
    from {opacity: 0; margin-top:-40px;}
    to {opacity: 1; margin-top:0px;}
}

@keyframes fadeInLogoElmn {
    from {opacity: 0; margin-top:-40px;}
    to {opacity: 1; margin-top:0px;}
}

#logo-bot{
	/*-webkit-animation: fadeInLogoElmnBot 1s 1 both; 
    animation: fadeInLogo 1s 1 both;*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInLogoElmnBot {
    from {opacity: 0; margin-top:-40px;}
    to {opacity: 1; top:0px;}
}

@keyframes fadeInLogoElmnBot {
    from {opacity: 0; top:-40px;}
    to {opacity: 1; top:2px;}
}
/*-------------------------------------------------- */


@media screen and (max-width: 740px){

	.countdown{
		display:none;
	}
	
	#hide-logo{
		width: 115px;
		height: 350px;
		background-color: transparent;
		position: absolute;
		z-index: 10000;
		margin-left: 50%;
		left: -57px;
	}
	
	#logo {
	margin-left: 50%;
	left: -25px;
	margin-top: 139px;
	}
	
	.logo-elements {
	top: 140px!important;
	margin-left: 50%;
	left: -48px;
	}
	
	.enter-wrapper {

	 position: relative;
	 top: 360px;
	 }
	
	#line-1 {
		font-size: 30px;
	}
	
	#line-2 {
		font-size: 27px;
		padding-top: 6px;
	}
	 
	 #welcome {
		 position: static;
		 margin-top:0px!important;
	 }

}
