<div class="container" id="stp6" ng-controller="BlowFakeCtrl" style="padding-top:35px;">
	
	<div style="padding-bottom: 30px;">
		<img src="images/svg/dots_04.svg" />
	</div>

	<div>
		<div style="text-align:center;">
			<img ng-src="{{user.photo}}" style="vertical-align:top; width:120px; height:120px; border:2px solid #3d3d3d; border-bottom:none;margin-left: 1px;" />
		</div>
		<img  src="images/svg/mouse_soffio.svg" style="cursor:pointer;" ng-click="performBlow()"/>
	</div>

	<div class="a" translate="{{'CLICCA_SOFFIA'}}"></div>


</div>