<div class="container scrl" id="stp1" flex layout="column" layout-align="start center" 
	scroll-y 
	flex-content=preserve>

	<div style="width:615px; padding-top:15px;" class="center">

		<div id="user-container" style="clear:both">
			
			<!-- {{ 'ULTIMI_SOFFI_A' | translate}}<br /> -->
			<h2 ng-if="stats" class="white" style="text-align:center;" >
			{{ 'ULTIMI_SOFFI_END_1' | translate}}<br />{{ 'ULTIMI_SOFFI_END_2' | translate}}</h2>

			<div class="wrapper-user"
				ng-repeat="user in latestUsers">
				<span>
					<img width="48" height="48" ng-src="{{user.photo}}" />
				</span>
				<div class="user-info">
					<b>{{user.displayName}}</b><br/>
					{{user.username}}</br>
					{{user.date}}
				</div>
			</div>
			
			
			<div style="clear:both"></div>
		</div>

	</div>
</div>