<div class="container" id="stp3" style="padding-top:5px;">
	
	<img src="images/svg/dots_03.svg" />

	<div class="a" translate="{{'TRA_SOLI'}}"></div>
	<!-- <div class="b">{{ 'TIME' | translate:time }}</div> -->
	<div class="b bold">{{ timer | millSecondsToTimeString }}</div>
	<div class="c" translate="{{'TUO_TURNO'}}"></div>

	<div layout="row" layout-align="center center">
		<div class="d" translate="{{'POI_AVRAI'}}"></div>
		<img class="e" src="images/svg/2min.svg" />
		<div class="f" translate="{{'MINUTI_PER_SELEZ'}}"></div>
	</div>
	

</div>