
	

<div id="container2">
	
	<a id="back-list" ng-href="{{getL10NLink('../reperti/')}}"><img src="imgs/element/arrow.png"/><p translate="{{'TORNA_LISTA'}}"></p></a>

	<div class="reperto-img">
		<img ng-src="{{reperto.big}}" />
	</div>	
	
	
	<div class="reperto-desc white">
		
		<h2 translate="{{ reperto.id+'.name' }}"></h2>
		<div translate="{{ reperto.id+'.body' }}"></div>
		
	</div>

	<div id="user-container" style="clear:both">
	
		<h2 class="white">{{ 'ECCO_GLI_UTENTI' | translate}}<br /> 
			{{ reperto.id+'.art' | translate}}
			{{ reperto.id+'.name' | translate}}</h2>
		

		<div class="wrapper-user"
			ng-repeat="user in users">
			<span>
				<img width="48" height="48" ng-src="{{user.photo}}" />
			</span>
			<div class="user-info">
				<b>{{user.displayName}}</b><br/>
				{{user.username}}</br>
				{{user.date}}
			</div>
		</div>
		
		
		<div style="clear:both">
		</div>
	</div>
	
</div>

