<header>

    <a href="http://www.compagnia.egizio2015.it/"><img id="logo" src="/images/element/compagnia-san-paolo-logo.png" /></a>

    <div class="menu-container" id="menu-vis">
        <div class="menu-wrapper">
            <a href="http://compagnia.egizio2015.it/la_strada_per_menfi_e_tebe/">
                <div class="menu-element-wrapper menu-element-wrapper-top white menu-1 menu-1-pro">
                    <div>
                        <h3 ng-class="eng('menu-e')">La strada per menfi e tebe</h3>
                    </div>
                </div>
            </a>
            <a href="http://compagnia.egizio2015.it/il_valore_della_riscoperta/">
                <div class="menu-element-wrapper menu-element-wrapper-top white menu-2">
                    <div>
                        <h3 ng-class="eng('menu-e')">Il valore della riscoperta</h3>
                    </div>
                </div>
            </a>
            <a href="http://compagnia.egizio2015.it/la_spedizione_di_egizio_2015/">
                <div class="menu-element-wrapper menu-element-wrapper-top white menu-3">
                    <div>
                        <h3 ng-class="eng('menu-e')">La spedizione di Egizio 2015</h3>
                    </div>
                </div>
            </a>
            <a href="http://compagnia.egizio2015.it/a_un_soffio_dalla_scoperta/">
                <div class="menu-element-wrapper menu-element-wrapper-top white menu-4">
                    <div>
                        <h3 ng-class="eng('menu-e')">A un soffio dalla scoperta</h3>
                    </div>
                </div>
            </a>

        </div>
    </div>
    <div class="menu-container" id="menu-hid">
        <div class="menu-wrapper">
            <a href="http://compagnia.egizio2015.it/la_strada_per_menfi_e_tebe/">
                <div class="menu-element-wrapper menu-element-wrapper-bot white menu-1 menu-1-pro" >
                    <div>
                        <p>
                            Il Museo Egizio più importante d'Europa nasce a Torino, tra storia e avventure.
                        </p>
                        <img class="img-back" src="/images/menu/c1w.png" />
                        <img class="img-over" src="/images/menu/c1.png" />
                    </div>
                </div>
            </a>
            <a href="http://compagnia.egizio2015.it/il_valore_della_riscoperta/">
                <div class="menu-element-wrapper menu-element-wrapper-bot white menu-2" >
                    <div>
                        <p translate="{{ 'MENU-2-TEXT' }}">
                            Dietro le quinte: il raddoppio degli spazi espositivi per il Nuovo Museo.
                        </p>
                        <img class="img-back" src="/images/menu/c2w.png" />
                        <img class="img-over" src="/images/menu/c2.png" />
                    </div>
                </div>
            </a>
            <a href="http://compagnia.egizio2015.it/la_spedizione_di_egizio_2015/">
                <div class="menu-element-wrapper menu-element-wrapper-bot white menu-3" >
                    <div>
                        <p>
                            Siamo in tour! Vieni a trovarci e scopri cosa si nasconde sotto la sabbia.
                        </p>
                        <img class="img-back" src="/images/menu/c3w.png" />
                        <img class="img-over" src="/images/menu/c3.png" />
                    </div>
                </div>
            </a>
            <a ng-href="http://compagnia.egizio2015.it/a_un_soffio_dalla_scoperta/">
                <div class="menu-element-wrapper menu-element-wrapper-bot white menu-4">
                    <div>
                        <!-- <p>{{ 'MENU-4-TEXT' | translate }}</p> -->
                        <p>
                            Partecipa anche tu,<br/>ovunque nel mondo tu sia.<br/>Che cosa scoprirai oggi?
                        </p>
                        <img class="img-back" src="/images/menu/c4w.png" />
                        <img class="img-over" src="/images/menu/c4.png" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <a ng-href="">
        <img class="logo-elements" id="logo-top" src="/images/element/logo-1.png">
        <img class="logo-elements" id="logo-bot" src="/images/element/logo-4-en.png" ng-if="lang=='en'">
    </a>
    <div id="shadow-top"></div>
</header>





<h1>Watch how I helped #Egizio2015 <br />unveil a treasure.</h1>

<video width="640" height="440" controls>
    <source src="<%= videoURL %>" type="video/mp4">
    Your browser does not support the video tag.
</video>

<p class="intro"><a style="color:#333;" href="http://compagnia.egizio2015.it/a_un_soffio_dalla_scoperta/">I just found one of Museo Egizio's treasures! You can join too: one breath and you can bring to life the interactive display case robot, inside Turin's Museo Egizio.</a>
</p>

<a href="http://compagnia.egizio2015.it/il_progetto/">
    <div id="il-progetto" class="white">
        <h3>Il Progetto</h3>
        <img src="/images/element/il-progetto-line.jpg" />
    </div>
</a>

