<!DOCTYPE html>
<html lang="it" ng-app="egizioTranslateApp" ng-controller="AppCtrl">
	<head>
		<meta charset="utf-8">
		<!--<meta name="viewport" content="width=device-width">-->
		<title>Egizio2015 - Il Progetto</title>

		<!-- Place this data between the <head> tags of your website -->
		<meta name="description" content="Anche grazie al sostegno di Compagnia di San Paolo, ad aprile 2015 nasce un Nuovo Museo Egizio a Torino. Si rinnova uno dei musei più importanti al mondo: raddoppia lo spazio espositivo, con nuovi allestimenti e una straordinaria ristrutturazione degli ambienti di Palazzo Accademia delle Scienze." />

		<!-- see /sharing.php -->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/style.css" type="text/css">
		<link rel="stylesheet" href="../css/style.css" type="text/css">
		<link rel="stylesheet" href="../css/landscape-style.css" type="text/css">
		<link rel="stylesheet" href="../css/portrait-style.css" type="text/css">
		<link rel="stylesheet" href="../css/lores-style.css" type="text/css">


		<!-- Twitter Card data -->
	    <meta name="twitter:card"        content="summary_large_image">
	    <meta name="twitter:creator"     content="@CSP_live">
	    <meta name="twitter:title"       content="Il cantiere del Museo Egizio 2015">
	    <meta name="twitter:description" content="Vedi le immagini e i \"numeri\" dei lavori.">
	    <meta name="twitter:image:src"   content="http://compagnia.egizio2015.it/imgs/social/twitter/egizio2015_il_progetto.jpg">

	    <!-- Open Graph data -->
	    <meta property="og:title"       content="Il cantiere del Museo Egizio 2015" />
	    <meta property="og:type"        content="website" />
	    <meta property="og:url"         content="http://compagnia.egizio2015.it" />
	    <meta property="og:image"       content="http://compagnia.egizio2015.it/imgs/social/facebook/egizio2015_il_progetto.jpg" />
	    <meta property="og:description" content="Vedi le immagini e i \"numeri\" dei lavori." /> 
	    <meta property="og:site_name"   content="egizio2015.it" />



		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../js/scripts.js"></script>

		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<!--<script src="js/script.js"></script>-->
		<script src="js/progetto-script.js"></script>
		<script>
			$(window).load(function(){
			  $( '#dvLoading' ).animate({
					 opacity: .5,
					 top:"-100%"
					 }, "slow", function() {
					 // Animation complete.
				 });
			});
		</script>
	</head>
	<body>
		<div id="dvLoading"></div>
		<div id="rotate-device" class="white">
			<div>
				<img src="../imgs/element/rotate-device.png">
				<h3 translate="{{ 'ROTATE-DEVICE' }}">
					per favore ruota il tuo dispositivo<br/>per una visualizzazione corretta
				</h3></div>
			</div>
		</div>
		<div id="resize-browser" class="white">
			<div>
				<img src="../imgs/element/resize-browser.png">
				<h3 translate="{{ 'RESIZE-BROWSER' }}">
					allarga la finestra del browser<br/>per visualizzare correttamente questo sito
				</h3></div>
			</div>
		</div>

		<div id="whole">

		<header>

		<a ng-href="{{getL10NLink('../')}}"><img id="logo" src="../imgs/element/compagnia-san-paolo-logo.png" /></a>

		<div class="menu-container" id="menu-vis">
			<div class="menu-wrapper">
				<a ng-href="{{getL10NLink('../la_strada_per_menfi_e_tebe/')}}">
					<div class="menu-element-wrapper menu-element-wrapper-top white menu-1 menu-1-pro">
						<div>
							<h3 translate="{{ 'MENU-1' }}" ng-class="eng('menu-e')">La strada per menfi e tebe</h3>
						</div>
					</div>
				</a>
				<a ng-href="{{getL10NLink('../il_valore_della_riscoperta/')}}">
					<div class="menu-element-wrapper menu-element-wrapper-top white  menu-2">
						<div>
							<h3 translate="{{ 'MENU-2' }}" ng-class="eng('menu-e')">Il valore della riscoperta</h3>
						</div>
					</div>
				</a>
				<a ng-href="{{getL10NLink('../la_spedizione_di_egizio_2015/')}}">
					<div class="menu-element-wrapper menu-element-wrapper-top white menu-3">
						<div>
							<h3 translate="{{ 'MENU-3' }}" ng-class="eng('menu-e')">La spedizione di Egizio 2015</h3>
						</div>
					</div>
				</a>
				<a ng-href="{{getL10NLink('../a_un_soffio_dalla_scoperta/')}}">
					<div class="menu-element-wrapper menu-element-wrapper-top white  menu-4">
						<div>
							<h3 translate="{{ 'MENU-4' }}" ng-class="eng('menu-e')">A un soffio dalla scoperta</h3>
						</div>
					</div>
				</a>

			</div>
		</div>
		<div class="menu-container" id="menu-hid">
			<div class="menu-wrapper">
				<a ng-href="{{getL10NLink('../la_strada_per_menfi_e_tebe/')}}">
					<div class="menu-element-wrapper menu-element-wrapper-bot white menu-1 menu-1-pro" >
						<div>
							<p translate="{{ 'MENU-1-TEXT' }}">
								Il Museo Egizio più importante d'Europa nasce a Torino, tra storia e avventure.
							</p>
							<img class="img-back" src="../imgs/menu/c1w.png" />
							<img class="img-over" src="../imgs/menu/c1.png" />
						</div>
					</div>
				</a>
				<a ng-href="{{getL10NLink('../il_valore_della_riscoperta/')}}">
					 <div class="menu-element-wrapper menu-element-wrapper-bot white menu-2" >
						 <div>
							 <p translate="{{ 'MENU-2-TEXT' }}">
							 	Dietro le quinte: il raddoppio degli spazi espositivi per il Nuovo Museo.
							 </p>
							 <img class="img-back" src="../imgs/menu/c2w.png" />
							 <img class="img-over" src="../imgs/menu/c2.png" />
						 </div>
					 </div>
				</a>
				<a ng-href="{{getL10NLink('../la_spedizione_di_egizio_2015/')}}">
					 <div class="menu-element-wrapper menu-element-wrapper-bot white menu-3" >
						 <div>
							 <p translate="{{ 'MENU-3-TEXT' }}">
								 Siamo in tour! Vieni a trovarci e scopri cosa si nasconde sotto la sabbia.
							 </p>
							 <img class="img-back" src="../imgs/menu/c3w.png" />
							 <img class="img-over" src="../imgs/menu/c3.png" />
						 </div>
					 </div>
				</a>
				<a ng-href="{{getL10NLink('../a_un_soffio_dalla_scoperta/')}}">
					<div class="menu-element-wrapper menu-element-wrapper-bot white menu-4">
						<div>
							<p translate="{{ 'MENU-4-TEXT' }}">
								Partecipa anche tu,<br/>ovunque nel mondo tu sia.<br/>Che cosa scoprirai oggi?
							</p>
							<img class="img-back" src="../imgs/menu/c4w.png" />
							<img class="img-over" src="../imgs/menu/c4.png" />
						</div>
					</div>
				</a>
			</div>
		</div>
		<a ng-href="{{getL10NLink('../')}}">
			<img class="logo-elements" id="logo-top" src="../imgs/element/logo-1.png">
			<img class="logo-elements" id="logo-bot" src="../imgs/element/logo-4.png" ng-if="lang=='it'">
			<img class="logo-elements" id="logo-bot" src="../imgs/element/logo-4-en.png" ng-if="lang=='en'">
		</a>

	</header>

		<div id="gallery-0" class="current">
			<div id="welcome-inner" class="iron">
				<p class="intro" translate="{{ 'WELCOME-INTRO' }}">
					<strong>Anche grazie al sostegno di Compagnia di San Paolo, ad aprile 2015 nasce un Nuovo Museo Egizio a Torino.</strong> Si rinnova uno dei musei più importanti al mondo: raddoppia lo spazio espositivo, con nuovi allestimenti e una straordinaria ristrutturazione degli ambienti di Palazzo Accademia delle Scienze.
				</p>
				<p class="intro iron" id="start-wrapper">
					<img src="imgs/element/big-arrow.png">
					<span class="iron" href="" translate="{{ 'WELCOME-ARROW-1' }}">
						Vedi le immagini e i “numeri” dei lavori
					</span>
					<span class="iron" href="" translate="{{ 'WELCOME-ARROW-2' }}">
						che porteranno alla grande inaugurazione
					</span>
				</p>
				<div class="clear"></div>

				<div id="specs">
					<div id="campagna" class="half">
						<div class="half-left">
							 <h4 translate="{{ 'COMMUNICATION-TITLE' }}">La campagna di comunicazione</h4>
							 <p class="desc" translate="{{ 'COMMUNICATION-TEXT' }}">
							 	La campagna di comunicazione “Egizio 2015”, ideata e realizzata dallo studio TODO, è stata voluta da <span class="green">Compagnia di San Paolo</span> per comunicare il progetto che ha fortemente sostenuto e rendere i visitatori – di Torino e di tutto il mondo – consapevoli e partecipi del grande rinnovo del Museo Egizio. Attraverso affissioni e stampa, eventi istituzionali ma anche interazione con il pubblico e una grande installazione in piazza, Compagnia di San Paolo valorizza uno dei tesori del nostro Paese, che oggi rinasce più grande e moderno che mai.
							 </p>
							 <a id="credits-but" class="iron" href="" translate="{{ 'CREDITS-LABEL' }}">Credits</a>
						</div>
					</div>
					<div id="compagnia" class="half">
						<div class="half-right">
							 <h4 translate="{{ 'COMPANY-TITLE' }}">Chi è Compagnia di San Paolo</h4>
							 <p class="desc" translate="{{ 'COMPANY-TEXT' }}">
							 	La <span class="green">Compagnia di San Paolo</span> è oggi una delle maggiori fondazioni private d’Europa. La sua missione è favorire lo sviluppo civile, culturale ed economico delle comunità in cui opera.
							 </p>
							 <a class="social" href="https://www.facebook.com/CompagniaDiSanPaolo" target="blank"><img src="imgs/social/facebook-df.png"/></a>
							 <a class="social"  href="https://twitter.com/CSP_live" target="blank"><img src="imgs/social/twitter-df.png" target="blank" />
							 <a class="social"  href="https://www.youtube.com/user/compagniadisanpaolo" target="blank"><img src="imgs/social/youtube-df.png" target="blank" />
							 <div class="clear"></div>
							 <a class="green" target="blank" href="http://www.compagniadisanpaolo.it/" target="blank" translate="{{ 'COMPANY-LINK' }}">www.compagniadisanpaolo.it</a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>


		<div id="credits">
			<div class="iron">
				<div id="credits-text">
					<h4 id="tit-1" translate="{{ 'CREDITS-WEB-TITLE' }}">Website Credits</h4>
					<p class="iron" translate="{{ 'CREDITS-WEB-TEXT' }}">
						compagnia.egizio2015.it è un sito di Compagnia di San Paolo (corso Vittorio Emanuele II, 75 – 10128 Torino).<br/>Concept, art direction, ricerca, editing, traduzione e sviluppo: <a href="http://www.todo.to.it/" target="blank">TODO</a><br/>Visual design, web design: <a href="http://www.todo.to.it/" target="blank">TODO</a> & <a href="http://parcodiyellowstone.it" target="blank">parcodiyellowstone</a>
					</p>
					<h4 translate="{{ 'CREDITS-PHOTO-TITLE' }}">iconografia</h4>

					<p class="iron" translate="{{ 'CREDITS-PHOTO-TEXT-1' }}">La foto in homepage è di Achille Filipponi.</p>

<p class="iron" translate="{{ 'CREDITS-PHOTO-TEXT-2' }}">
	Si ringrazia il Museo Egizio di Torino per le foto della Mensa Isiaca e degli scavi Schiaparelli inserite nella sezione “La strada per MenWEBi e Tebe”, e per tutte le foto all’interno degli approfondimenti della sezione “Il valore della riscoperta”, salvo i render degli allestimenti futuri, gentilmente concessi dallo studio Isolarchitetti.
</p>

<p class="iron" translate="{{ 'CREDITS-PHOTO-TEXT-3' }}">
	Sono di PEPE fotografia: la foto della firma di Drovetti in “La strada per Menfi e Tebe”, e tutte le foto del cantiere in “Il valore della riscoperta” e nella gallery della pagina “Il progetto”.
</p>

<p class="iron" translate="{{ 'CREDITS-PHOTO-TEXT-4' }}">
	Lo sfondo dell’introduzione alla sezione “Il valore della riscoperta” è una rielaborazione dell’immagine “ASTo, Corte, Carte Topografiche e disegni, Palazzi Reali e altre fabbriche regie, Torino, Collegio dei Nobili, cartella 1, foglio 11”, gentilmente concessa dal Ministero per i Beni e le Attività Culturali e del Turismo, Archivio di Stato di Torino.
</p>

<p class="iron" translate="{{ 'CREDITS-PHOTO-TEXT-5' }}">
	La foto dell’ambiente 1 in “Il valore della riscoperta” è di Pino dell’Aquila.<br/>Le foto degli ambienti 2 e 3 sono di Giacomo Lovera.<br/>Per la foto dell'ambiente 4 si ringrazia l'editore Umberto Allemandi & C.
</p>

					<h4 translate="{{ 'CREDITS-THANKS-TITLE' }}">ringraziamenti</h4>

					<p class="iron" translate="{{ 'CREDITS-THANKS-TEXT-1' }}">
						Enrico Ferraris, Caterina Ciccopiedi, Andrea Conci, Alessia Fassone, Beppe Moiso (Museo Egizio di Torino)
					</p>
					<!--<p class="iron" translate="{{ 'CREDITS-THANKS-TEXT-2'}}">
						Stefano Peyretti (Isolarchitetti)<br/>Lella di Mucci (Nicola Restauri)
					</p>-->
				</div>
				<a id="progetto-but" class="iron" href="" translate="{{ 'PROJECT-LABEL' }}">Il Progetto</a>
			</div>

		</div>

		<div id="gallery-1" class="next img-gallery" style="left:-55px;">
			<div class="dida">
				<h1 translate="{{ 'GALLERY-1-NUM' }}">1.820m2</h1>
				<p translate="{{ 'GALLERY-1-DIDA' }}">di pittura muraria</p>
			</div>
		</div>


		<div id="gallery-2" class="img-gallery">
			<div class="dida">
				<h1 class="green" translate="{{ 'GALLERY-2-NUM' }}">6.992m3</h1>
				<p class="green" translate="{{ 'GALLERY-2-DIDA' }}">di terra rimossa</p>
			</div>
		</div>


		<div id="gallery-3" class="img-gallery">
			<div class="dida">
				<h1 translate="{{ 'GALLERY-3-NUM' }}">254.027kg</h1>
				<p translate="{{ 'GALLERY-3-DIDA' }}">di armature di ferro</p>
			</div>
		</div>

		<div id="gallery-4" class="img-gallery">

		</div>
		<div id="gallery-5" class="img-gallery">
			<div class="dida">
				<h1 translate="{{ 'GALLERY-5-NUM' }}">2.182m3</h1>
				<p translate="{{ 'GALLERY-5-DIDA' }}">di calcestruzzo</p>
			</div>
		</div>

		<div id="gallery-6" class="img-gallery">

		</div>
		<div id="gallery-7" class="img-gallery">

		</div>
		<div id="gallery-8" class="img-gallery">
			<div class="dida">
				<h1 translate="{{ 'GALLERY-8-NUM' }}">160.000m</h1>
				<p translate="{{ 'GALLERY-8-DIDA' }}">di cavi elettrici</p>
			</div>
		</div>
		<div id="gallery-9" class="img-gallery">

		</div>
		<div id="gallery-10" class="img-gallery">
			<div class="dida">
				<h1 translate="{{ 'GALLERY-10-NUM' }}">1.080</h1>
				<p translate="{{ 'GALLERY-10-DIDA' }}">giorni di lavoro</p>
			</div>
		</div>
		<div id="gallery-11" class="img-gallery">
			<div class="dida">
				<h1 translate="{{ 'GALLERY-11-NUM' }}">110</h1>
				<p translate="{{ 'GALLERY-11-DIDA' }}">maestranze operanti in cantiere</p>
			</div>
		</div>

		<div id="gallery-11" class="img-gallery">

		</div>
		<!--<div id="gallery-12" class="img-gallery">
		</div>
		<div id="gallery-13" class="prev img-gallery">
		</div>-->
		<div id="next-arr" class="arrow">
		</div>
		<div id="prev-arr" class="arrow">
		</div>
		<div id="lang">
			<a ng-href="{{changeLanguage('it')}}" translate="{{ 'BUTTON_LANG_IT' }}" ng-class="{'lan-sel': lang== 'it' }">italiano</a> |
			<a ng-href="{{changeLanguage('en')}}" translate="{{ 'BUTTON_LANG_EN' }}" ng-class="{'lan-sel': lang== 'en' }">inglese</a>
		</div>


		</div>

	<!-- ** angular translation dependencies ** -->
	<script src="../angularjs/angular/angular.min.js"></script>
	<script src="../angularjs/angular-translate/angular-translate.min.js"></script>
	<script src="../angularjs/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="../angularjs/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<script src="../angularjs/angular-cookies/angular-cookies.min.js"></script>
	<script src="../angularjs/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
	<script src="../angularjs/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>

	<!-- c4 widget -->
	<!-- underscore -->
	<script src="../angularjs/underscore/underscore.js"></script>
	<script src="../angularjs/angular-underscore-module/angular-underscore-module.js"></script>
	<!-- sails socket -->
	<script src="../angularjs/sails.io.js/dist/sails.io.js"></script>
   <script src="../angularjs/angular-sails/dist/angular-sails.js"></script>
   <!-- ** main widget app ** -->
	<script src="../c4widget/user.widget.js"></script>
	<c4-user-widget></c4-user-widget>
	
	<!-- ** main translate app ** -->
	<script src="angularapp/app.js"></script>
	<!-- ************************************** -->



	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-7954920-7', 'auto');
	  ga('send', 'pageview');

	</script>
	</body>
</html>
