@media only screen and (min-width: 768px) and (max-width: 1260px) and (orientation : landscape){


	 .menu-1{
		 margin-left:100px;
	 }

	 .menu-element-wrapper {
		 width: 22%;
	 }

	 .menu-sel h3 {
		 display: inline;
	 }
	 
	 #welcome-inner, #credits div {
		  left: -376px;
			max-width: 750px;
	 }
	 

}