<script>
	$( document ).ready(function() {
		
		var altezzaRimanente = $( window ).height() - 275;
	
		if ($( window ).height() >430){
			 $( ".arrow" ).fadeIn( "fast" );
			 $( ".arrow" ).css({
			   "top": (altezzaRimanente/2)+230,
			 });
		}else{
			$( ".arrow" ).fadeOut( "fast" );
		}	
		
		if ($(window).scrollTop()>436){
				$( ".menu" ).css({
				  "position": "fixed",
				  "top": "124px"
				});
				$( ".tappa-aperta" ).css({
				  "position": "fixed",
				  "top": "186px"
				});
				$( "#cover" ).css({
				  "position": "fixed",
				  "top": "-436px"
				});
				$( ".body-tappa" ).css({
				  "top": "710px"
				});
				/*$( ".arrow" ).css({
				  "position": "fixed",
				  "top": "274px"
				});*/
			}
			else{
				$( ".menu" ).css({
				  "position": "relative",
				  "top": "auto"
				});
				$( ".tappa-aperta" ).css({
				  "position": "relative",
				  "top": "auto"
				});
				$( "#cover" ).css({
				  "position": "relative",
				  "top": "auto"
				});
				$( ".body-tappa" ).css({
				  "top": "auto"
				});
				/*$( ".arrow" ).css({
				  "position": "absolute",
				  "top": "0px"
				});*/
			}
	});
</script>
{{initializeMasonry()}}

<div class="tappa-aperta endtour">
	<div class="header-tappa ">
		<div class="inner-header">
			<p class="data" translate="{{ 'TAPPA-4-DATA' }}">2-6 Febbraio</p>	
			<h1 translate="{{ 'TAPPA-4-TITOLO' }}">Campus Luigi Einaudi</h1>
		</div>
	</div>
</div>
<div class="body-tappa">
	
	<div class="endtour-inner-body inner-body">
		<p class="data" translate="{{ 'TAPPA-4-END' }}">Ecco il diario di bordo del Campus Luigi Einaudi: i volti le foto ed i tweet di chi ha partecipato alla spedizione di Egizio2015</p>


		<div id="wall">
			<div ng-repeat="feed in feeds">
				<div ng-if="feed.media" class="{{feed.class}}">
					<a href="{{feed.link}}" target="_new">
						<img class="lazy" data-original="{{feed.url}}" />
						<!-- <img class="lazy" src="{{feed.url}}" /> -->
					</a>
				</div>
				<div ng-if="!feed.media" class="{{feed.class}}">
					<div class="tweet-header">
						<a href="{{feed.author_url}}" target="_new"><img src="{{feed.thumbnail_url}}" alt=""></a>
						<span>
							<a href="{{feed.author_url}}" target="_new"><b>{{feed.author_name}}</b>@{{feed.username}}</a>
							<a href="{{feed.url}}" target="_new">{{feed.posted_at | date:'medium'}}</a>
						</span>
						<span style="clear:both"></span>
					</div>
					<div class="tweet-content">
						<p class="tweet-body" ng-bind-html="feed.description">
						</p>
						<p class="interact">
							<a href="https://twitter.com/intent/tweet?in_reply_to={{feed.id}}" class="twitter_reply_icon" target="_new">Reply</a> | 
							<a href="https://twitter.com/intent/retweet?tweet_id={{feed.id}}" class="twitter_retweet_icon" target="_new">Retweet</a> |
							<a href="https://twitter.com/intent/favorite?tweet_id={{feed.id}}" class="twitter_fav_icon" target="_new">Favorite</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!--<a ui-sref="tappa3" id="tappa-3" class="arrow left"></a>
	<a ui-sref="tappa5" id="tappa-5" class="arrow right"></a>-->
</div>


<!-- translator test -->
<!--  ng-click="changeLanguage('it')" -> call to change language function -->

<div id="lang" class="white">
	<a ng-href="{{changeLanguage('it')}}" translate="{{ 'BUTTON_LANG_IT' }}" ng-class="{'lan-sel': lang== 'it' }">ita</a> |
	<a ng-href="{{changeLanguage('en')}}" translate="{{ 'BUTTON_LANG_EN' }}" ng-class="{'lan-sel': lang== 'en' }">eng</a>
</div>
<div id="share">
  <p>Share on:</p>
  <div ng-if="lang=='it'">
    <a twitter  data-lang="it" data-count='none' data-size="medium" data-text="Guarda i selfie di #egizio2015 @CSP_live @MuseoEgizio" data-hashtags="egizio2015" style="float:right;width:55px;"></a>
  </div>
  <div ng-if="lang=='en'">
    <a twitter  data-lang="en" data-count='none' data-size="medium" data-text="Check out the selfies from #egizio2015 @CSP_live @MuseoEgizio" data-hashtags="egizio2015" style="float:right;width:55px;"></a>
  </div>
  <br>
  <div style="float:right;">
    <iframe width="56" height="20" src="//www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fcompagnia.egizio2015.it%2Fla_spedizione_di_egizio_2015%2F%23%2Ftappa1&amp;layout=button&locale=en_GB" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
  </div>
</div>
