<!DOCTYPE html>
<html>
<head>
    <title>Egizio 2015</title>
    <meta property="og:url" content="http://video.egizio2015.it/video_en/<%= videoID %>">
    <meta property="og:title" content="Watch how I helped #Egizio2015 unveil a treasure.">
    <meta property="og:description" content="I just found one of Museo Egizio's treasures! You can do it too: one breath and you can bring to life the interactive display case robot, inside Turin's Museo Egizio.">
    <meta property="og:site_name" content="Egizio2015">
    <meta property="og:type" content="video">
    <meta property="og:video:url" content="<%= videoURL %>">
    <meta property="og:video:width" content="640">
    <meta property="og:video:height" content="480">
    <meta property="og:video:type" content="video/mp4">
    <meta property="og:image" content="<%= thumbURL %>"/>
    <meta property="fb:app_id" content="343925132460658">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/landscape-style.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->

    <script src="/js/video/jquery-1.9.1.min.js"></script>
    <script src="/js/video/scripts.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

</head>

<body>
<%- body %>
</body>
</html>
